<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xkw.example.com.androidBLE">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android6.0以上蓝牙扫描需要位置权限 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/data"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/data"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="keyboardHidden|orientation|screenSize">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".SearchDeviceActivity"></activity>
    </application>

</manifest>